
<section class="product">
    <div class="images">
          <div class="mainImage">
            <img v-bind:src="imager(mainImage.url)">
          </div>
          <div class="imagesList">
              <ul>
                  <li v-for="image in images">
                    <img v-bind:src="imager(image.url)">
                  </li>
                </ul>
          </div>
      </div>
      <div class="description">
          <h1>{{title}}</h1>
          <p>{{description}}</p>
      </div>
    <div class="cart">
      <div class="cartContainer">
          <div class="select">
              <select 
              v-for="attribute in attributes" 
              v-model="tempVariant[attribute.id]"
              v-on:click="createVariant"
              required>
                  <option selected hidden>Choose {{attribute.title}}</option>
                  <option 
                  v-for="label in attribute.labels"
                  v-bind:value="label.id"
                  v-on:click="mainImageFunction"
                  >
                    {{label.title}}
                  </option>
                </select>
          </div>
          <div class="quantity">
            <div class="text">
                <p>Quantity: </p>
            </div>
            <div class="counter">
                <button v-on:click.prevent="removeItem">-</button>
                <p>{{quantity}}</p>
                <button v-on:click.prevent="addItem">+</button>
            </div>
          </div>
          <div class="addToCart">
              <button v-on:click="createVariant">Add to cart</button>
              <button v-on:click="print">main image</button>
          </div>
      </div>
    </div>

</section>

