.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .images{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .mainImage {
            width: 90%;
            height: 300px;
            border: 1px solid rgb(236, 236, 236);
            margin: auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .imagesList {
            width: 90%;
            display: flex;
            justify-content: center;
            margin: auto;
            ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                border: 1px solid rgb(236, 236, 236);
                padding: 0;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    width:100px;
                    height: 100px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .description {
        width: 30%;
    }
    .cart {
        width: 20%;
        .cartContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .select {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 10px;
                select {
                    display: flex;
                    justify-content: center;
                    width: 90%;
                    margin: auto; 
                    background-image: linear-gradient(to top, #f7fcfb, #ffffff);
                    margin-bottom: 10px;
                }
            }
            .quantity {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 90%;
                .text{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .counter {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    button{
                        background-color: white;
                        border: 1px solid gray;
                        width: 20px;
                        height: 20px;
                    }
                    p{
                        padding-left: 30px; 
                        padding-right: 30px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        margin-left: 10px; 
                        margin-right: 10px; 
                        border: 1px solid gray;
                    }
                }
            }
            .addToCart {
                display: flex;
                justify-content: center;
                button {
                    width: 90%;
                    height: 40px;
                    box-shadow: 0px 1px 3px 0 rgba(7, 7, 8, 0.46);
                    background-image: linear-gradient(to top, #31a893, #34ceb3);
                    border: none;
                    color: white;
                    font-weight: 700;
                }
            }
        }
    }
}