
<section class="product">
  <div>
    <div>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>
    <div>
      <ul>
        <li v-for="image in images">
          <img v-bind:src="imager(image.url)">
        </li>
      </ul>
    </div>
    <div>
      <select v-for="attribute in attributes" v-model="variants[attribute.title]">
        <option selected disabled>{{attribute.title}}</option>
        <option v-for="label in attribute.labels">
          {{label.title}}
        </option>
      </select>
    </div>
    <button v-on:click="showVariants">showVariant</button>
    <p>{{amount}}</p>
    <button v-on:click.prevent="addItem">+</button>
    <button v-on:click.prevent="removeItem">-</button>
  </div>
</section>

