.app {
    .header {
        display: flex;
        justify-content: center;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        li{
            margin: 20px;
                .routerContainer {
                    position: relative;
                    width: 200px;
                    height: 200px;
                    border: 1px solid black;
                    img{
                        border: 2px solid purple;
                        width: 100%;
                        height: 100%;
                    }
                    p{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }

            }
        }
    }